@import "../../../styles.scss";

.banner-container{
    background-image: url('../../../assets/images/desktop/image-header.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;

    .title{
        margin-top: 0px;
        color: $white;
        font-family: $secondary-font;
        font-weight: 900;
        padding-top: 2em;
        letter-spacing: 0.5rem;
    }

    .arrow{
        padding-top: 6em;
    }
}

