@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
// scss COLORS variables 

// primary
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); //(graphic design text)
$dark-blue: hsl(198, 62%, 26%); //(photography text)
$dark-moderate-cyan: hsl(168, 34%, 41%); //(footer)
$light-blue:#4ABEFF;

// secondary
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// scss BODY variables

//size
$font-size: 18px;

//fonts
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Fraunces', serif;


// GLOBAL STYLES


body{
    font-family:$primary-font;
    font-size: $font-size;
    margin: 0;
}

a{
    text-decoration: none;
}